{% extends 'index.html.twig' %}

{% block body %}
    <div class="col-1 dropdown position-absolute top-0 start-0 mt-4 ms-5 text-end">
        {% if imgE == null %}
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="42" fill="currentColor" class="bi bi-shield-shaded" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 14.933a.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067v13.866zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                </svg>
            {% else %}
                <img src="data:image/png;base64,{{ imgE }}" alt="mdo" width="50" height="42" class="rounded-circle">
            {% endif %}
    </div>
	<div class="col-1 dropdown position-absolute top-0 end-0 mt-4 me-5 text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            {% if img == null %}
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            {% else %}
                <img src="data:image/png;base64,{{ img }}" alt="mdo" width="42" height="42" class="rounded-circle">
            {% endif %}
          </a>
          <ul class="dropdown-menu text-small bg-primary" aria-labelledby="dropdownUser1" style="">
            <li><h5 class="text-light ms-3">{{user.nombre}}</h5></li>
             {% if is_granted("ROLE_CAPITAN") %}
                <li><a class="dropdown-item text-light" href={{path('usuarioC')}}>Profile</a></li>
            {% endif %}
            {% if is_granted("ROLE_JUGADOR") %}
                <li><a class="dropdown-item text-light" href={{path('usuario')}}>Profile</a></li>
            {% endif %}
            <li><hr class="dropdown-divider text-light"></li>
            <li><a class="dropdown-item text-light" href={{path('logout')}}>Log out</a></li>
          </ul>
    </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if is_granted("ROLE_JUGADOR") %}
            <a class="btn btn-primary rounded-3 m-1" href={{ path('request_team')}}>Solicitar equipo</a><br>
            <a class="btn btn-primary rounded-3 m-1" href={{ path('list_reservas')}}>Ver reservas</a><br>
            <a class="btn btn-primary rounded-3 m-1" href={{ path('list_partidos') }}>Ver partidos</a>
            {% endif %}
            {% if is_granted("ROLE_CAPITAN") %}
            <a class="btn btn-primary dropdown-toggle rounded-3 m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Equipo</a>
  		    <ul class="dropdown-menu bg-primary">
    		    <li><a class="dropdown-item text-light" href={{ path('list_team') }}>Ver</a></li>
                <li><a class="dropdown-item text-light" href={{ path('list_players') }}>Solicitudes</a></li>
  		    </ul>
            
            <a class="btn btn-primary dropdown-toggle rounded-3 m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Reservas</a>
  		    <ul class="dropdown-menu bg-primary">
    		    <li><a class="dropdown-item text-light" href={{ path('list_reserva') }}>Ver o eliminar</a></li>
                <li><a class="dropdown-item text-light" href={{ path('add_reserva') }}>Crear</a></li>
  		    </ul>
            <a class="btn btn-primary dropdown-toggle rounded-3 m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Liga</a>
            <ul class="dropdown-menu bg-primary">
    		    <li><a class="dropdown-item text-light" href={{ path('add_liga_at_team') }}>Apuntarse liga</a></li>
                <li><a class="dropdown-item text-light" href={{ path('list_partido') }}>Partidos</a></li>
                <li><a class="dropdown-item text-light" href={{ path('clasificacion') }}>Clasificacion</a></li>
  		    </ul>
            {% endif %}
        </div>
{% endblock %}