{% extends 'index.html.twig' %}

{% block body %}
	<div class="btn-group mt-5" role="group" aria-label="Basic example">
		<a class="btn btn-primary rounded-3 m-1" href="{{ path('add_profesor') }}">Registrar profesor</a>
		<br>
		<a class="btn btn-primary rounded-3 m-1" href="{{ path('add_team')}}">Registrar equipo<a>
		<br>
		<a class="btn btn-primary dropdown-toggle rounded-3 m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Reservas</a>
		<ul class="dropdown-menu bg-primary">
			<li><a class="dropdown-item text-light" href="{{ path('list_all_reserva') }}">Ver reservas</a></li>
    		<li><a class="dropdown-item text-light" href="{{ path('cambiar_reserva') }}">Cambiar vigilancia</a></li>
  		</ul>
  		<a class="btn btn-primary dropdown-toggle rounded-3 m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Ligas</a>
		<ul class="dropdown-menu bg-primary">
			<li><a class="dropdown-item text-light" href="{{ path('add_liga') }}">Crear</a></li>
    		<li><a class="dropdown-item text-light" href="{{ path('list_ligas') }}">Registrar</a></li>
    		<li><a class="dropdown-item text-light" href="{{ path('add_score') }}">Añadir puntuación</a></li>
			<li><a class="dropdown-item text-light" href="{{ path('cambiar_partido') }}">Cambiar vigilancia</a></li>
  		</ul>
		<br>
	</div>
{% endblock %}
