{% extends 'index.html.twig' %}

{% block body %}
<script>

        function addUserToTeam(nombre,equipo,url){ 

          var data = new FormData();
          data.append("jugador",nombre);
          data.append("equipo",equipo);

          fetch(url,{
              method: "POST",
              body: data
          })
          .then( resp => resp.json())
          .then( data => {
              window.location.reload();
          })
          .catch( error => { console.log(error) });
        };

        function delUserToRequest(nombre,equipo,url){ 

          var data = new FormData();
          data.append("jugador",nombre);
          data.append("equipo",equipo);

          fetch(url,{
              method: "POST",
              body: data
          })
          .then( resp => resp.json())
          .then( data => {
              window.location.reload();
          })
          .catch( error => { console.log(error) });
        };
      
    </script>
    <div class="col-6">
    {% for usuario in solicitudes %}
      <div class = "row">
        <h3 class="col-auto">{{usuario.nombre}}</h3>
        <a class=" btn btn-primary col-auto m-1" onclick="addUserToTeam('{{usuario.id}}','{{equipo.id}}','{{ path("add_at_team") }}')">Añadir</a>
        <a class=" btn btn-danger col-auto m-1" onclick="delUserToRequest('{{usuario.id}}','{{equipo.id}}','{{ path("del_at_request") }}')">Eliminar</a>
      </div>
  {% endfor %}
  <a class="btn btn-primary col-12 mt-1" href={{ path('inicio') }}>Volver</a>
  </div>
{% endblock %}
