{% extends 'index.html.twig' %}

{% block body %}
  {% for usuario in solicitudes %}
    {{ usuario.nombre }}
    <script>

        function addUserToTeam(nombre,equipo,url){ 

          var data = new FormData();
          data.append("jugador",nombre);
          data.append("equipo",equipo);

          fetch(url,{
              method: "POST",
              body: data
          })
          .then( resp => resp.json())
          .then( data => {
              window.location.reload();
          })
          .catch( error => { console.log(error) });
        };

        function delUserToRequest(nombre,equipo,url){ 

          var data = new FormData();
          data.append("jugador",nombre);
          data.append("equipo",equipo);

          fetch(url,{
              method: "POST",
              body: data
          })
          .then( resp => resp.json())
          .then( data => {
              window.location.reload();
          })
          .catch( error => { console.log(error) });
        };
      
    </script>

    <a class="btn btn-primary" onclick="addUserToTeam('{{usuario.id}}','{{equipo.id}}','{{ path("add_at_team") }}')">Añadir</a>
    <a class="btn btn-primary" onclick="delUserToRequest('{{usuario.id}}','{{equipo.id}}','{{ path("del_at_request") }}')">Eliminar</a>
  {% endfor %}
  
{% endblock %}
