{% extends 'index.html.twig'%}

{% block body %}
	<div class="col-4">
        {{form_start(form, {'attr': {'class': 'row'}})}}
        {{form_label(form.vigilante,"Vigilante: ")}}
		{{form_widget(form.vigilante)}}
        {{form_label(form.campo,"Campo: ")}}
		{{form_widget(form.campo)}}
        {{form_label(form.campo,"Fecha de reserva: ")}}
		{{form_widget(form.fecha)}}
		{{form_widget(form.hora)}}
        {% if error %}
		    <div class="text-muted mt-2 mb-2">{{ error }}</div>
	    {% endif %}
		{{form_widget(form.submit)}}
		<a class="btn btn-primary col-12 mt-1" href={{ path('inicio') }}>Volver</a>
		{{form_end(form)}}
	</div>
{% endblock %}